/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/rubik-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/rubik-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/rubik-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/rubik-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/rubik-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/rubik-v20-latin-regular.svg#Rubik")
      format("svg"); /* Legacy iOS */
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/rubik-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/rubik-v20-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/rubik-v20-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/rubik-v20-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/rubik-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/rubik-v20-latin-500.svg#Rubik")
      format("svg"); /* Legacy iOS */
}
/* rubik-700 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/rubik-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/rubik-v20-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/rubik-v20-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/rubik-v20-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/rubik-v20-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/rubik-v20-latin-700.svg#Rubik")
      format("svg"); /* Legacy iOS */
}

:root {
  /* Primary colors */
  --clr-primary-moderate-blue: hsl(238, 40%, 52%);
  --clr-primary-soft-red: hsl(358, 79%, 66%);
  --clr-primary-light-grayish-blue: hsl(239, 57%, 85%);
  --clr-primary-pale-red: hsl(357, 100%, 86%);
  /* Neutral Colors */
  --clr-neutral-dark-blue: hsl(212, 24%, 26%);
  --clr-neutral-light-gray: hsl(223, 19%, 93%);
  --clr-neutral-very-light-gray: hsl(228, 33%, 97%);
  --clr-neutral-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: Rubik;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.card {
  background: var(--clr-neutral-very-light-gray);
}

.container {
  max-width: 768px;
  padding: 30px;
  margin: 0 auto;
}

svg {
  cursor: pointer;
}

/* AddComment Styling */
.add-comment-box {
  display: flex;
  background: var(--clr-neutral-white);
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.dp {
  width: 30px;
}

.add-comment-box-textarea {
  flex: 1;
}

input[type="textarea"] {
  position: relative;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 100%;
  overflow: hidden;
}

input::placeholder {
  color: var(--clr-neutral-dark-blue);
  font-weight: 400;
  padding-left: 10px;
  /* position: absolute;
  top: 10px;
  left: 5%; */
}

input:focus,
input {
  border: none;
  outline: 0.5px solid var(--clr-neutral-light-gray);
}

.btn-send {
  padding: 10px 25px;
  border-radius: 10px;
  background: var(--clr-primary-moderate-blue);
  color: var(--clr-neutral-white);
  font-weight: 700;
  letter-spacing: 0.05rem;
  border: none;
}

/* Comment Item */
.comment-item {
  display: flex;
  background: var(--clr-neutral-white);
  gap: 20px;
  padding: 20px;
  border-radius: 7.5px;
}

/* allows the comment-item-content to take the full width of the flex */
/* so that margin-left : auto works for "Reply" */
.comment-item-content {
  flex: 1;
}

.comment-item-profile {
  display: flex;
  gap: 15px;
}

.reply {
  margin-left: auto;
}

.profile-name {
  color: var(--clr-neutral-dark-blue);
  font-weight: 700;
}

.profile-last-seen,
.comment-item-text {
  color: gray;
}

/* Reply */
.container-reply {
  display: flex;
  gap: 10px;
}

.reply-text {
  font-weight: 700;
  color: var(--clr-primary-moderate-blue);
}

/* Upvote */
.container-upvote {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--clr-neutral-very-light-gray);
  padding: 5px 10px;
  border-radius: 7.5px;
}

.number-of-upvote > p {
  color: var(--clr-primary-moderate-blue);
  font-weight: 700;
}
